.element__like-buttom_active {
    background-image: url(../../../../images/element-like-dark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    width: 22px;
    height: 19px;
    border: none;
}